---
import { Icon } from 'astro-icon'
---

<header class="wrapper">
	<nav class="navbar">

		<a href="/">
			<img class="me"
				src="https://avatars.githubusercontent.com/u/105844617?s=400&u=dbdb7a3731ba56f259e58ce07eef7e26e8e4f98d&v=4"
				alt="me" />
		</a>
	</nav>
</header>

<style>
	.icon_div {
		margin-top: 12px;
		display: flex;
		gap: 0.5rem;
	}
	.icon {
		width: 1.5rem;
		height: 1.5rem;
		cursor: pointer;
	}

	.navbar {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.socail {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	header {
		padding-top: 1rem;
		padding-bottom: 1rem;
		height: 5rem;
		flex: flex;
		justify-content: center;
		align-items: center;

	}

	.me {
		widows: 120px;
		height: 120px;
		border-radius: 100px;
	}

	svg {
		width: 2.5rem;
		height: 2.5rem;
	}

	a {
		text-decoration: none;
		display: inline-flex;
	}
</style>